@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Rick';
  src: url('/font/get_schwifty.ttf') format('truetype');
}
body {
  background: linear-gradient(
    90deg,
    rgba(0, 255, 255, 1) 0%,
    rgba(130, 253, 29, 1) 50%,
    rgba(234, 252, 69, 1) 100%
  );
}
/*Loader*/
.Loader {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}
.Loader img {
  max-width: 60vw;
  animation: spin-anim 12s linear infinite;
}
@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*Location info*/
.location__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 15px;
}
.location__container > p {
  text-align: center;
  font-family: 'Rick', sans-serif;
  font-size: 100px;
  background: -webkit-linear-gradient(#00daff, #52e153);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.location__container .info {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  background: linear-gradient(#00ff62c0, #ffffff);
  color: #2a2323;
  padding: 5px 30px;
  border-radius: 0 80px / 0 160px;
}
/* Search */
.search__input input {
  border: 4px solid #00d9ff;
  color: #2a2323;
  font-size: 18px;
  font-weight: 600;
  outline: none;
  padding: 10px;
  border-radius: 0 80px / 0 160px;
}
.search__options {
  background: linear-gradient(#00d9ffdb, #ffffff);
  padding:0 10px;
  border-radius: 20px / 0 40px;
}
/* Resident Info */
.cards {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.resident__info {
  width: 350px;
  padding: 10px;
  display: flex;
  align-items: start;
  flex-direction: column;
  border-radius: 20px;
  border: 4px solid rgb(0, 0, 0);
}
.resident__info img {
  width: 100%;
  border-radius: 20px;
}
.resident__info .name {
  text-align: start;
  width: 100%;
  font-weight: bold;
  border-bottom: 1px solid #000000;
}
.alive {
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(89, 255, 0) 100%);
  opacity: 1.25;
}
.unknown {
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(234, 255, 0) 100%);
  opacity: 1;
}
.dead {
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(255, 0, 0) 100%);
  opacity: 0.75;
}
.general__img {
  position: fixed;
  top: 10%;
  z-index: -10;
}
.general__img img {
  max-width: 60vw;
  animation: spin-anim 15s linear infinite;
  -webkit-animation: spin-anim 15s linear infinite;
}
